corso-testing/ExerciseFiles/challenges
corso-testing/ExerciseFiles/exercise_files/node_modules
# corso-testing/ExerciseFiles/exercise_files/nadia/public
corso-testing/ExerciseFiles/progress
corso-testing/ExerciseFiles/sandbox
corso-testing/ExerciseFiles/solutions
node_modules
coverage/