body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
strong {
    color: rgb(128, 75, 0);
}

em {
    color: rgb(43, 50, 60);
}


h1,
h2 {
    color: purple;
}

p {
    color: gray;
}

ul {
    border: 2px solid orange;
}

ol {
    border: 2px solid purple;
}

ol,
ul {
    padding: 5px 20px;
    border-radius: 4px;
}