@font-face {
    font-family: "PT Sans Narrow";
    src: "fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf",
        "fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf";
}

:root {

    --general-background-color: #d6d01f;
    --header-background-color: #f0dbe9;
    --control-background-color: #dbddf0;
    --display-background-color: #e2cbcb;
    --graphics-background-color: #a3e322;
}

* {
    font-family: "PT Sans Narrow", sans-serif;
    padding: 0;
    border: 0;
    margin: 0;

}

html {
    font-size: medium;
    background-color: var(--general-background-color);
}

.page-layout {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .page-layout {
        flex-direction: column;
        border: 1px solid salmon;
    }
}

.page-container {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--header-background-color);
}

aside {
    background-color: var(--control-background-color);
    flex: 3;
}


main {
    background-color: var(--display-background-color);
    flex: 5;
}

footer {
    background-color: blanchedalmond;
}


div .control {
    display: flex;
    flex-direction: row;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 10px;
    margin: 3px;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.77rem;
}

h2 {
    font-size: 1.61rem;
}
h3 {
    font-size: 1.46rem;
}
h4 {
    font-size: 1.33rem;
}
h5 {
    font-size: 1.21rem;
}
h6 {
    font-size: 1.1rem;
}
label,
input,
button {
    padding: 10px;
    margin: 3px;
}

label,
.label-filler {
    flex: 3;
}


input,
button {
    flex: 11;
    font-size: 1rem;
}

.dashboard-summary-container {
    background-color: antiquewhite;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr 5fr;
    grid-auto-rows: 1fr;
}

.dashboard-summary-caption {
    font-weight: :bold;
}

.dashboard-summary-value {
    font-weight: :normal;
}

.value-bar-container {
    display: grid;
    grid-template-columns: repeat(20, 5fr);
    grid-template-rows: 1fr;
}

.value-bar-element {
    height: 30px;
    background-color: chocolate;
}

#plot-area {
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
}

.plot-element {
    position: absolute;
    border: 1px solid gold;
    opacity: 0.5;
}

.plot-element-alfa {
    background-color: cyan;
}

.plot-element-beta {
    background-color: magenta;
}

.plot-element-gamma {
    background-color: yellow;
}

.plot-element-delta {
    background-color: black;
}