@font-face {
    font-family: "PT Sans Narrow";
    src: "fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf",
        "fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf";
}

* {

    font-family: "PT Sans Narrow", sans-serif;

    padding: 0;
    border: 0;
    margin: 0;


}

.page-layout {
    display: flex;
    flex-direction: row;
}

.page-container {
    max-width: 950px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

aside {
    background-color: rgb(236, 240, 242);
    flex: 3;
}

header {
    background-color: rgb(241, 248, 248);
}

main {
    background-color: beige;
    flex: 5;
}

footer {
    background-color: blanchedalmond;
}


div .control {
    display: flex;
    flex-direction: row;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 10px;
    margin: 3px;
}

label,
input,
button {
    padding: 10px;
    margin: 3px;
    font-size: medium;
}

label,
.label-filler {
    flex: 3;
}



input,
button {
    flex: 11;
}

.dashboard-summary-container {
    background-color: antiquewhite;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr 5fr;
    grid-auto-rows: 1fr;
}

.dashboard-summary-caption {
    font-size: medium;
    font-weight: :bold;
}

.dashboard-summary-value {
    font-size: medium;
    font-weight: :normal;
}

.value-bar-container {
    display: grid;
    grid-template-columns: repeat(20, 5fr);
    grid-template-rows: 1fr;
}

.value-bar-element {
    height: 30px;
    background-color: chocolate;
}

#plot-area {
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
}

.plot-element {
    position: absolute;
    border: 1px solid gold;
    opacity: 0.5;
}

.plot-element-alfa {
    background-color: forestgreen;
}

.plot-element-beta {
    background-color: cadetblue;
}

.plot-element-gamma {
    background-color: darkseagreen;
}

.plot-element-delta {
    background-color: olive;
}