.shape {
    height: 90px;
    width: 90px;
    padding: 0;
    margin: 0;

    border-top: 30px solid rgb(10,10,10);
    border-left: 30px solid rgba(64, 64, 64);
    border-right: 30px solid rgb(128, 128, 128);
    border-bottom: 30px solid rgb(196, 196, 196);
}